sphinx_rtd_theme
sphinxcontrib-bibtex
# jupyter-sphinx
git+git://github.com/eleurent/jupyter-sphinx@master#egg=jupyter-sphinx
git+https://github.com/eleurent/highway-env
gym
numpy
pygame
matplotlib
pandas

# =========
# Optionals
# =========
pytest
scipy